@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');/* fontawesome import*/

*{
    margin:0px
} 
.container-fluid{
    background-image: url("images/hd1.png");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 1% 3%;
}
/*navbar styling*/
.navbar{
    margin-left:-12px;
    margin-right:-12px;
    background-color: rgb(215, 98, 110);
    height:10vh;
    box-shadow: 4px 4px 4px rgb(106, 70, 70);
    border-radius: 20px 20px;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    
    
}
.navbar a{
    
    color: white;
}
.navbar-brand{
    font-size: 2.5rem;
    color:white
}
/*toggler*/

/* home page content styling*/
.one{
    position:relative;
    top:30vh;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 900;
   

}
.one h1{
    font-weight: 900; 
    font-size: 5em;
    text-shadow: 3px 3px 3px rgb(31, 21, 21) ;
}

.two img{
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
    position: relative;
    top:8vh
   
}
/*me section styling*/

.me{
    margin:80px 10px;
    text-align: center;
    padding: 30px;
    color:rgb(215, 110, 128)

}
.me i {
    font-size: 55px;
    color:pink;
    transition:all ease .5s;
    padding: 20px 10px ;
}
.me i.fa-trophy:hover{
    color:rgb(243, 231, 64);
    text-shadow: 2px 2px black;
}
.me i.fa-heart:hover{
    color:rgb(243, 21, 21);
    text-shadow: 2px 2px black;
}
.me i.fa-copyright:hover{
    color:rgb(191, 123, 123);
    text-shadow: 2px 2px black;
}
/* about section styling*/
#about{
    height:300px;
    background-color: rgb(215, 98, 110);
    text-align: justify;
    
    margin-bottom: 100px;
    
}
#about img{
    margin:0px 0px;
    width:50%;
    height:80%;
    border-radius: 100%;
}
#about p{
    padding-top:50px;
    text-align: center;
    color:white
}
.carousel-item{
    padding:20px 120px;

}
/*gallery section styling*/
#gallery{
    text-align: center;

}
#gallery h1{
    width: fit-content;
    border-bottom: 2px solid rgb(184, 114, 125);
    margin: 25px auto;
    padding: 10px 10px ;

}


#gallery .card{
   width: fit-content;
   justify-self: center;
   margin:0 auto;
   box-shadow:4px 4px 2px rgb(211, 116, 132) ;
   font-family: cursive;
   font-size: 2em;
   text-shadow: 1px 1px 1px rgb(211, 116, 132);
   
   
}
#gallery .btn{
    width: fit-content;
    margin:0 auto;
    
}
/*form section styling*/
#write div{
    background-image:url("images/fm.png");
    background-size: cover;
    background-repeat: no-repeat;
   
}
#write form{
    margin: 10%;
    padding: 40px 0px 40px 30%  ;
    font-family: Ubuntu,sans-serif;
    color:white;
    font-size: 20px;
}
#write form input, textarea{
    border: none;
}
#write td{
    padding:5px;
}
/*footer section styling*/
#contact{
    margin: 100px 40%;
    
}
#contact img{
    width: 50px;
    padding: 10px;
}



/*media queries used*/
@media (max-width:1024px){
    
    .one{
        top:27vh
    }
    .one h1{
        font-weight: 700; 
        font-size: 3em;
    } 
    .two img{
        width: 500px;
        height: 500px;
        top:20vh;
        right:3px

    }
}
@media (max-width:972px){
    .two img{
        width:400px;
        height:400px;
        top:20vh;
        right:5px;
        left:2px;

    }
    .one{
        top:10vh
    }
    .one h1{
        font-weight: 700; 
        font-size: 3em;
    } 
    #about {
        height:100%
    }
    #contact{
        margin: 100px 20%;}
    #write div{

   
            background-image:url("fm.png");
            background-size: cover;
            background-repeat: no-repeat;
            height:fit-content
        }
        
}
@media (max-width:769px){
    
    .two img{
        width:100%;
        top:13vh;
        right:3px;
        z-index: 1;
        
    }
    .one{
        top:10vh
    }
    .one h1{
        font-weight: 700; 
        font-size: 3em;
    } 
    #about {
        height:100%
    }
    #write{

        margin:15% 0px;
        background-image:url("fm.png");
        background-size: contain;
        background-repeat: no-repeat;
        height:fit-content;
        
        color:white
    }
    
    #gallery .card{
        width: 100%;
        justify-self: center;
        
        box-shadow:4px 4px 2px rgb(211, 116, 132) ;
        font-family: cursive;
        font-size: 2em;
        text-shadow: 1px 1px 1px rgb(211, 116, 132);
        
        
     }
     #gallery img{
         width:200px;
     }
     #contact{
        margin: 100px 22%;}
        
   
}
@media (max-width:500px){
   
    .two img{
        width:98%;
        height:90%;
        top:15vh;
        right:3px
        
    }
    .one{
        top:10vh
    }
    .one h1{
        font-weight: 700; 
        font-size: 2em;
    } 
    #about {
        height:100%
    }
    #about img{
   
        width:90%;
        height:90%
    }
    #gallery .card{
        width: fit-content;
        justify-self: center;
        
        box-shadow:4px 4px 2px rgb(211, 116, 132) ;
        font-family: cursive;
        font-size: 2em;
        text-shadow: 1px 1px 1px rgb(211, 116, 132);
        
    } 
    #gallery div .col{
        padding:10px 0px;
        width:100%
    }    
    #write div{
        background-image:url("images/fm.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        color:white
    }
    #write form{
        padding: 4px;
        font-size: 10px;
      }
   #write .btn{
       margin-left:40px;
   }
   #contact{
    margin: 100px 22%;}
    
}
